@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-size: 20px;
    color: #1A191E;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
    
}

.container {

    margin: auto;
}

/* navbar style css  */
.content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: #FFFFFF;
}

.logo {
    font-size: 32px;
    color: #5BB5A2;
    line-height: 100%;
    font-weight: 700;
    width: 150px;
}

ul.menu-item {
    display: flex;
    gap: 36px;
    list-style: none;
}

ul.menu-item li a {
    font-size: 16px;
    color: #1A191E;
}

ul.menu-item li a:hover{
    color: #FFFFFF;
    background-color: #53A291;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3x;

}

.nav-login {
    display: flex;
    justify-content: space-around;
    gap: 36px;
    color: #5BB5A2;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;

}
.nav-login:hover{
   
  color: #29323C;
}

.nav-login {
    padding: 7px;
    cursor: pointer;
}

.nav-account {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #5BB5A2;
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    width: 135px;
    height: 39px;
    cursor: pointer;
}

/* navbar end  */

/* section -1 home banner start  */
#home-banner {
    width: 1324px;
    height: 868px;
    margin: 5px;
}

.home-section {
    width: 800px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    padding: 15px;
    font-style: normal;
    color: #1A191E;
}

.home-section h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.03em;
    
}

.home-section h1 {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -0.03em;
}
.home-section h1:hover{
    color: #5BB5A2;
}

.home-section p {
    width: 800px;
    height: 72px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
}

.home-button {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #5BB5A2;
    border-radius: 6px;
    border: none;
    padding: 16px 24px;
    gap: 10px;
    width: 166px;
    height: 50px;
    cursor: pointer;
}
.home-button:hover{
    color: #FFFFFF;
    background-color: #D6AE7B;
    border-radius: 6px;
    border: none;
    padding: 16px 24px;
}
.compare-card{
    font-size: 18px;
    font-weight: 500;
    color: #5BB5A2;
    line-height: 100%;
    letter-spacing: -0.03em;
    margin-left: 32px;
    cursor: pointer;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 66px;
    
}

.card img{
    width: 100%;
    margin-top: 120px;
}
.card-img_1{
   margin-top: 80px;
}
/* section -1 home banner end  */

/* section -2 transaction part start   */
.transaction-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* transaction content part start  */
.transaction-content{
    width: 538.65px;
    height: 436px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    font-style: normal;
    font-family: 'DM Sans';
    font-weight: 500;
}
.transaction-content h4{
  font-size: 20px;
  line-height: 120%;
  
}
.transaction-content h1{
    width: 538.65px;
    height: 140px;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -0.03em;
  
}
.transaction-content h1:hover{
    color: #5BB5A2;
}
.transaction-content p{
    width: 538.65px;
    height: 96px;
  font-size: 17.9551px;
  line-height: 180%;
  font-family: 'Inter'; 
}
ul.transaction-list{
list-style: none;
font-size: 18px;
font-weight: 500;
font-family: 'Inter';
line-height: 180%;
}

ul.transaction-list i{
    color: #5BB5A2;
}
/* transaction content part end  */

/* transaction card part start  */
.transaction-card{
    box-sizing: border-box;
    width: 380px;
    height: 800px;
    background: #FFFFFF;
    border: 10px solid #1A191E;
    border-radius: 50px;
    padding: 20px;
}

.app-card-part-1{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}
.app-card-part-1 h2{
    font-size: 28px;
    line-height: 120%;
}
.app-card-part-2{
    width: 310px;
    height: 186px;
    background:linear-gradient(108.63deg, #485563 -0.82%, #29323C 104.26%);
    border-radius: 15px;
    margin-top: 22px;
    cursor: pointer;
}
.app-card-part-2:hover{
    background:linear-gradient(108.63deg, #D6AE7B -0.82%, #D6AE7B 104.26%);
}
 .volume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #FFFFFF;
}
.pay{
    padding: 16px;
    margin-top: 16px;
}
.visa-card{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    padding: 16px;
    color: #FFFFFF;
}
.visa-card p{
  font-size: 7.44px;
  line-height: 120%;
}
.visa-card h3{
  font-size: 11.16px;
  line-height: 120%;
}
.visa-icon p{
   width: 6.64px;
   height: 15.06px;
   font-size: 18px;
   margin-right: 35px;
   font-weight: 700;

}
.app-card-money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    font-size: 14px;
    margin-bottom: 45px;
}
.send-money{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.receive-money{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.transaction-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.transaction-view h2{
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.03em;
}
.transaction-view p{
    font-size: 16px;
    color: #5BB5A2;
    line-height: 100%;
    letter-spacing: -0.03em;
}
.apple{
    width: 310px;
    height: 65px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.apple p{
    font-size: 16px;
    line-height: 140%;
}
.apple-icon{
 width: 40px;
 height: 40px;
 background-color: #5BB5A2;
 border-radius: 6px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 font-size: 16px;
}
.apple-img{
    margin-right: 22px;
}
.apple-icon-content{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 16px;
}
.apple-icon-content span{
    font-size: 12px;
    line-height: 160%;
}
.apple-icon-content p{
    font-size: 16px;
    line-height: 140%;
}

 /* app card last saving part  */
 .app-card-saving{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 22px;
 }
 .app-card-saving img{
    margin-left: 5px;
 }
 .app-card-home {
    color: #5BB5A2;
 }
 .account-icon {
    margin-left: 12px;
 }

/* transaction app card part -1  end  */
/* section-3 app card part -2  start  */
#manage-card{
    margin-top: 160px;
    margin-bottom: 140px;
}
/* section-3 app card part -2  end */

.app-card-setting{
    margin-bottom: 48px;
}



/* section -2 transaction part  end  */
/* section -3 app cart 2 part start  */
.app-card-part-3{
    position: absolute;
    width: 310px;
    height: 186px;
    background:linear-gradient(108.63deg, #5BB5A2 -0.82%, #53A191 104.26%);
    border-radius: 15px;
    margin-top: 80px;
   
}
.master-card img{
    width: 40px;
}
 
 .app-card-visa-master{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
 }

 .app-card-part-4{
    position: absolute;
    width: 310px;
    height: 186px;
    background:linear-gradient(108.63deg, #E3C79E -0.82%, #D6AE7B
    104.26%);
    border-radius: 15px;
    margin-top: 22px;
   
}

.app-card-saving-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 300px;
 }
 .app-card-saving img{
    margin-left: 5px;
 }
 .app-card-home {
    color: #5BB5A2;
 }
 .account-icon {
    margin-left: 12px;
 }

/* section -3 app cart 2 part end  */

/* section-4 blank content start  */
.bank-section {
    width: 800px;
    margin: auto;
    height: 158px;
    text-align: center;
    padding: 15px;
    font-style: normal;
    color: #1A191E;
}
.bank-section h1{
    font-size: 64px;
    letter-spacing: 0.03em;
    line-height: 110%;
}
.bank-section h1:hover{
    color: #53A291;
}
.bank-section p{
    font-size: 17px;
    font-family: 'Inter';
    line-height: 180%;
}
.statistics{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1200px;
    height: 400px;
    margin: auto;
    
}
.statistics-content{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: auto;
  
}
.statistics-content-1{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
}
.statistics-content-1 h1{
    font-size: 40px;
    letter-spacing: -0.03em;
    line-height: 120%;
}
.statistics-content-1 p{
    font-size: 18px;
    line-height: 180%;
    text-align: center;
}
.statistics-card{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

   /* easy part design  */
   .easy-integration-main{
    width: 1200px;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    margin: auto;
   }
   .easy-integration{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 378px;
    height: 550px;
    margin-top: 68px;
   
   }
   .easy-content{
    width: 299px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
   }
   .easy-content h1{
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.03em;
   }
   .easy-content p{
    font-size: 18px;
    line-height: 180%;
   }
   .easy-card{
    width: 378px;
    height: 550px;
   }

 .easy-card img{
  width: 100%;
  margin-left: 25px;


}
.company-logo{  
    width: 375px;
    height: 212px;
    margin: 15px;
}

.logo-part-1{
    display: flex;
}
.company-logo-img{
    width: 131px;
    height: 60px;
}


.easy-card-laptop{
    margin-right: 20px;
}
/* section-4 blank content end  */
/* section -5 choose your card part start   */
.card-section {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    font-style: normal;
    color: #1A191E;
    font-size: 20px;
}
.card-section h1{
    font-size: 64px;
    line-height: 110%;
letter-spacing: -0.03em;
}
.card-section p{
    font-size: 20px;
    line-height: 180%;
    font-family: 'Inter';
    
}

.basic-free{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
.basic-free-card{
    width: 357.33px;
    height: 448px;
    
}
.basic-free-content{
display: flex;
justify-content: space-around;
align-items: center;

}
.basic-free-content h1{
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
}
.basic-free-content span{
    font-size: 12px;
    line-height: 180%;
    color: #5BB5A2;
   
}
.basic-free-content-1 h1{
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
.basic-free-content-1 p, span{
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    font-weight: 500;
}
.visa-card-part-1{
    width: 355px;
    height: 213px;
    background:linear-gradient(108.63deg, #485563 -0.82%, #29323C 104.26%);
    border-radius: 15px;
    margin-top: 22px;
   
}
.visa-card-part-1:hover{
    background:linear-gradient(108.63deg, #5BB5A2 -0.82%, #53A291 104.26%);
}
.master-card-part-3{
    width: 355px;
    height: 213px;
    background:linear-gradient(108.63deg, #5BB5A2 -0.82%, #53A291 104.26%);
    border-radius: 15px;
    margin-top: 22px;  
}
.master-card-part-3:hover{
    background:linear-gradient(108.63deg, #E3C79E -0.82%, #D6AE7B 104.26%);
}
.master-card-part-1{
    width: 355px;
    height: 213px;
    background:linear-gradient(108.63deg, #E3C79E -0.82%, #D6AE7B 104.26%);
    border-radius: 15px;
    margin-top: 22px;  
}
.master-card-part-1:hover{
    background:linear-gradient(108.63deg, #5BB5A2 -0.82%, #53A291 104.26%);
}
.get-start-button{
    width: 357.33px;
    height: 39px;
    background: #5BB5A2;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
}

/* section -5 choose your card part end   */

/* section -6 faq part start  */
.faq-section{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   margin-top: 100px;
}
.faq-section h1{
 font-size: 64px;
 line-height: 110%;
 letter-spacing: -0.03em;
 margin-bottom: 48px;
 margin-left: 35px;
}
.contact{
    width: 388.67px;
    height: 134px;
    margin-bottom: 32px;
}
.phone-contact{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 32px;
}
.phone-contact i{
    color: #5BB5A2;

}
.phone-contact p{
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #1A191E;
}
.phone-contact span{
    color: rgba(26, 25, 30, 0.5);
    font-size: 14px;
    font-family: 'Inter';
    line-height: 116%;
}
.faq-section a{
    font-size: 18px;
    line-height: 100%;
    color: #5BB5A2;
    margin: 32px;
}
/* faq part css style  */
.faq{
    width: 600px;
    height: 500px;
}
.accordion{
    max-width: 600px;
    margin-right: 40px;
}
.accordion .contentBx{
    position: relative;
    margin: 10px, 20px;
    margin-bottom: 15px;
}
.accordion .contentBx .label{
    position: relative;
    padding: 10px;
    background-color: #5BB5A2;
    color: #F8F8F8;
    border-radius: 3px;
    cursor: pointer;
    
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 0%;
    right: 20px;
    transform: translate(-50%);
    font-size: 1.5em;
   
}
.accordion .contentBx.active .label::before{
    content: '☓';
    font-size: 18px;
    font-weight: 900;
    margin-top: 10px;
}
.accordion .contentBx .content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    color: rgba(26, 25, 30, 0.5);
    font-size: 16px;
}
.accordion .contentBx.active .content{
    height: 130px;
    padding: 10px;
}

/* section -6 faq part end  */
/* footer part css style start  */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 26px;
    margin-top: 140px;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
 list-style: none;
 font-family: 'Inter';
 font-size: 16px;
 line-height: 160%;
 color: rgba(26, 25, 30, 0.5);
}

.head-title{
    font-size: 18px;
    color: #1A191E;
    letter-spacing: -0.03em;
    line-height: 140%;
    margin-bottom: 10px;
    cursor: pointer;
  
}
.head-title:hover{
    color: #5BB5A2;
}

.copyright{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin: 30px;
    margin-bottom: 48px;
}
.copyright h1{
    font-size: 14px;
    font-family: 'Inter';
    line-height: 160%;
    color: rgba(26, 25, 30, 0.5);
}
.copyright span{
    color: #5BB5A2;
}
.impressum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;  
    color: rgba(26, 25, 30, 0.5);
    font-size: 14px;
    font-family: 'Inter';
}
.impressum:hover{
    color: #5BB5A2;
    cursor: pointer;
}
/* footer part css style end  */

/* ***********************Media query Mobile Device CSS style start  *************************************** */

@media only screen and (max-width: 577px){
    /* .card{
       display: flex;
       flex-direction: column;
    } */
    .home-section {
        width: 350px;
        height: 250px;
        margin: 20px;
       text-align: center;
    }
    .home-section h1{
        font-size: 45px;
        
    }
    .home-section p{
        width: 400px;
        text-align: start;
    }
    .compare-card{
        margin-left: 6px;
    }
    .transaction-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin: 0;
    }
    .basic-free{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .faq-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .easy-integration-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bank-section{
        width: 335px;
        height: 245px;
    }
    .statistics-content{
        flex-direction: column;
    }
    .statistics{
        display: flex;
        flex-direction: column;
        width: 365px;
        margin: 20px;
        /* height: 400px; */
    }
    .card-section{
        width: 400;

    }
    
}